@model DraftCommander.Models.InitializationModel
@{
    ViewBag.Title = "Home Page";
}
<script language="javascript" src="@Url.Content("~/Scripts/auction-script.js")" type="text/javascript"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('#tabs11').tabs();
        jQuery("#list").jqGrid({
            url: '/Home/GridData/',
            datatype: 'json',
            mtype: 'GET',
            colNames: ['Id', 'Position', 'Name', 'Team', 'Rank', 'Estimate', 'Owner', 'BidAmount'],
            colModel: [
          { name: 'Id', index: 'Id', width: 40, align: 'left' },
          { name: 'Position', index: 'Position', width: 40, align: 'left' },
          { name: 'Name', index: 'Name', width: 200, align: 'left' },
          { name: 'Team', index: 'Team', width: 50, align: 'left' },
          { name: 'Rank', index: 'Rank', width: 50, align: 'left' },
          { name: 'Estimate', index: 'Estimate', width: 50, align: 'left' },
          { name: 'Owner', index: 'Owner', width: 100, align: 'left' },
          { name: 'BidAmount', index: 'BidAmount', width: 50, align: 'right'}],
            pager: jQuery('#pager'),
            loadonce: true,
            rowNum: 2000,
            rowList: [20, 30, 50],
            sortname: 'Id',
            sortorder: "desc",
            viewrecords: true,
            imgpath: '/Content/themes/sunny/images',
            caption: 'Players'
        });

        jQuery("#ownerlist").jqGrid({
            url: '/Home/OwnerData/',
            datatype: 'json',
            mtype: 'GET',
            colNames: ['Name', 'CurrentFunds', 'PlayersLeft', 'RequiredPlayers', 'NeededPlayers'],
            colModel: [
          { name: 'Name', index: 'Name', width: 200, align: 'left' },
          { name: 'CurrentFunds', index: 'CurrentFunds', width: 50, align: 'left' },
          { name: 'PlayersLeft', index: 'PlayersLeft', width: 50, align: 'left' },
          { name: 'RequiredPlayers', index: 'RequiredPlayers', width: 50, align: 'left' },
          { name: 'NeededPlayers', index: 'NeededPlayers', width: 50, align: 'left'}],
            pager: jQuery('#ownerpager'),
            loadonce: true,
            rowNum: 2000,
            rowList: [20, 30, 50],
            width: 750,
            sortname: 'Id',
            sortorder: "desc",
            height: "100%",
            viewrecords: true,
            imgpath: '/Content/themes/sunny/images',
            caption: 'Owners'
        });

        jQuery("#bidcenter").accordion();

        $('.chzn-select').chosen();
        $('#bid-setter').click(function () {
            PUBNUB.publish({
                channel: 'activity',
                message: { 'type': 'bid-set',
                    'value': $('#bid-value').val(),
                    'player': $('#admin-select').val()
                }
            });
        });

        PUBNUB.subscribe({
            channel: 'activity',
            callback: function (message) {
                var ret = jQuery("#list").jqGrid('getRowData', message.player);
                jQuery('#list').jqGrid('setSelection', message.player);
                $('#player-under-bid').html(ret.Name);
                $('#player-bid').html(message.value);
            }
        });

    }); 
</script>
<h2>@ViewBag.Message</h2>
<div id='tabs11'>
    <ul>
        <li><a href='#tabs-1'>Players</a></li>
        <li><a href='#tabs-2'>Owners</a></li></ul>
    <div id='tabs-1'>
        <table id="list" class="scroll" cellpadding="0" cellspacing="0">
        </table>
        <div id="pager" class="scroll" style="text-align: center;">
        </div>
    </div>
    <div id='tabs-2'>
        <table id="ownerlist" class="scroll" cellpadding="0" cellspacing="0">
        </table>
        <div id="ownerpager" class="scroll" style="text-align: center;">
        </div>
    </div>
</div>
<br />
<div id='bidcenter'>
    <h3>
        <a href='#'>Active Bid</a></h3>
    <div>
        Current Player:
        <div id='player-under-bid'>
        </div>
        Bid Amount:
        <div id='player-bid'>
        </div>
    </div>
    <h3>
        <a href='#'>Auction Command</a></h3>
    <div id="admin">
        Auction Control </br>
        <select data-placeholder="Choose a Player..." class="chzn-select" id='admin-select'
            style="width: 350px;">
            <option value=""></option>
            @foreach (var item in Model.PlayerList)
            {
                <option value="@item.Key">@item.Value</option> 
            }
        </select>
        <br />
        Bid Amount:
        <input type="text" id='bid-value' />
        <input type='button' id='bid-setter' value='Set Current Bid' />
    </div>
</div>
